# Ignore DepthAnything output and cache directories
DepthAnything/remote_img_results/
DepthAnything/logs/
DepthAnything/Test/
DepthAnything/Train/
DepthAnything/checkpoints/
DepthAnything_v1/
Depth-Anything-3/
*.docx
*.pdf
*.zip
*.kml
DatasetsEstablish/create_silted_land_label_from_shp.py
DatasetsEstablish/generate_check_dam_shp_from_label.py